html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.admin-container {
    display: grid;
    grid-template: 1fr 4fr / 1fr 1.5fr 1.5fr 1fr;
}

/* SIDEBAR ITEMS SIDEBAR ITEMS SIDEBAR ITEMS SIDEBAR ITEMS SIDEBAR ITEMS SIDEBAR ITEMS SIDEBAR ITEMS SIDEBAR ITEMS SIDEBAR ITEMS */

.sidebar {
    display: grid;
    background-color: rgb(0, 128, 255);
    grid-column: 1;
    grid-row: span 1;
    color: white;
}

/* TOP BANNER ITEMS TOP BANNER ITEMS TOP BANNER ITEMS TOP BANNER ITEMS TOP BANNER ITEMS TOP BANNER ITEMS TOP BANNER ITEMS TOP BANNER ITEMS */

.center-console {
    /* background-color: #fafaf9; */
    background-color: lightblue;
    grid-column: 2 / 5;
    grid-row: 1;
}

.header-top {
    display: grid;
    grid-template: 1fr / 1fr 1fr 3fr 1fr 1fr;
    padding: 10px;
}

.header-top-imgs {
    width: 25px;
    height: 25px;
}

#search-icon {
    grid-column: 1;
    justify-self: end;
    align-self: center;
    padding-right: 15px;
}

.search-bar {
    grid-column: 2 / 4;
    height: 20px;
    justify-self: stretch;
    align-self: center;
    border-radius: 10px;
    box-shadow: 0.5px 0.5px 0.5px black;
}

#notification-icon {
    grid-column: 4;
    justify-self: end;
    align-self: center;
    padding-left: 50px;
}

.profile-img-header-top {
    grid-column: 5;
    width: 60px;
    height: 60px;
    justify-self: center;
    align-self: center;
    border-radius: 50%;
}

.profile-name-header-top {
    grid-column: 6;
    justify-self: start;
    align-self: center;
    padding-right: 50px;
}

/* MAIN DISPLAY ITEMS MAIN DISPLAY ITEMS MAIN DISPLAY ITEMS MAIN DISPLAY ITEMS MAIN DISPLAY ITEMS MAIN DISPLAY ITEMS MAIN DISPLAY ITEMS */

.main-menu {
    display: grid;
    background-color: white;
}