html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.admin-container {
    display: grid;
    grid-template: 165px 4fr / 1fr 1.5fr 1.5fr 1fr;
}

/* SIDEBAR ITEMS SIDEBAR ITEMS SIDEBAR ITEMS SIDEBAR ITEMS SIDEBAR ITEMS SIDEBAR ITEMS SIDEBAR ITEMS SIDEBAR ITEMS SIDEBAR ITEMS */

.sidebar {
    display: grid;
    background-color: rgb(0, 128, 255);
    grid-column: 1;
    grid-row: 1/ 4;
    color: white;
}

/* TOP BANNER ITEMS TOP BANNER ITEMS TOP BANNER ITEMS TOP BANNER ITEMS TOP BANNER ITEMS TOP BANNER ITEMS TOP BANNER ITEMS TOP BANNER ITEMS */

.header {
    background-color: #fafaf9;
    grid-row: 1 / 2;
    grid-column: 2 / 5;
    height: 165px;
}

.header-top {
    display: grid;
    grid-template: 1fr / 1fr 1fr 3fr 1fr 1fr;
    padding: 10px;
}

.header-top-imgs {
    width: 25px;
    height: 25px;
}

#search-icon {
    grid-column: 1;
    justify-self: end;
    align-self: center;
    padding-right: 15px;
}

.search-bar {
    grid-column: 2 / 4;
    height: 20px;
    justify-self: stretch;
    align-self: center;
    border-radius: 10px;
    box-shadow: 0.5px 0.5px 0.5px black;
}

#notification-icon {
    grid-column: 4;
    justify-self: end;
    align-self: center;
    padding-left: 50px;
}

.profile-img-header-top {
    grid-column: 5;
    width: 60px;
    height: 60px;
    justify-self: center;
    align-self: center;
    border-radius: 50%;
}

.profile-name-header-top {
    grid-column: 6;
    justify-self: start;
    align-self: center;
    padding-right: 50px;
    color: grey;
}

/* BOTTOM BANNER ITEMS BOTTOM BANNER ITEMS BOTTOM BANNER ITEMS BOTTOM BANNER ITEMS BOTTOM BANNER ITEMS BOTTOM BANNER ITEMS */

.header-bottom {
    display: grid;
    grid-template: 1fr / 1fr 2fr 1.5fr 1fr 1fr 1fr;
}

.profile-img-header-bottom {
    width: 75px;
    height: 75px; 
    border-radius: 50%;
    grid-row: 1;
    grid-column: 1;
    justify-self: center;
    align-self: center;
}

#welcome-message {
    justify-self: center;
    align-self: center;
    grid-row: 1;
    grid-column: 2;
}

.welcome-text {
    color: grey;
}

#new-post {
    justify-self: center;
    align-self: center;
    grid-row: 1;
    grid-column: 4;
}

#upload-img {
    justify-self: center;
    align-self: center;
    grid-row: 1;
    grid-column: 5;
}

#share-post {
    justify-self: center;
    align-self: center;
    grid-row: 1;
    grid-column: 6;
}

.header-btn {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: white;
    color: grey;
    border: 1px solid grey;
}

/* MAIN DISPLAY ITEMS MAIN DISPLAY ITEMS MAIN DISPLAY ITEMS MAIN DISPLAY ITEMS MAIN DISPLAY ITEMS MAIN DISPLAY ITEMS MAIN DISPLAY ITEMS */

.main-menu {
    display: grid;
    background-color: white;
}